*
{
    margin: 0;
    padding: 0;
}


/*-------Navigation--------*/
#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
padding: 0 10px;
}
.navbar-nav li a
{
float: right;
text-align: left;

}
#nav-bar ul li a:hover
{
    color: #c712eb!important;
}
.navbar
{
    background: gainsboro;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*--Slider--*/
#slider
{
    width: 100%;
    border-top: 2px solid #c712eb;
}

/* gatunek  */
#opis
{
    color: #555;
padding-top: 50px;
padding-bottom: 50px;
}
#opis h2
{
    text-align: center;
    color: #c712eb !important;
    padding-bottom: 10px;
}
#opis h2 ::after
{
content: '';
background: #efefef;
display: block;
height: 3px;
width: 170px;
margin: 20px auto 5px;
}

.opis-content
{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#opis h3
{
   
   
    text-align: center  ;
    color: #555 !important;
    padding-top: 30px;
    padding-bottom: 10px;
   
    
}
#opis h3 ::after
{
   
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;  
}

#opis .fa
{
height: 25px;
width: 25px;
color:#c712eb !important;
padding: 4px;
}

/*  opieka  */
#opieka
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/rys_4.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;

    padding-top: 50px;
    padding-bottom: 50px;
    
}
#opieka .fa
{
height: 25px;
width: 25px;
color:#c712eb !important;
padding: 4px;
}
#opieka h2
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 20px;
}

.opieka-content
{
    text-align: center;
    padding-top: 20px;
}
.skills-bar
{
    padding-top: 30px;
    margin-bottom: 6px;
    font-weight: 600;
    
}
.progress-bar
{
    border-radius: 16px;
    background-color: #c712eb !important;
    
}
.progress
{
    border-radius: 16px!important;
    margin-bottom: 20px;
    
}

/*--zdjecia--*/
#zdjecia
{
   padding-left: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/rys_4.jpg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding-top: 50px;
padding-bottom: 50px;
}

 .row .img-box
{
    
    padding-left: 50px;
}
.zdjecia .img-box
{
   
    display: block;
    padding-left: 50px;
    
} 
.col-md-3 .profile-pic/**/
{
   
    padding-left: 5px;
    margin-left: 5px;
}
.col-md-3.zdjecia 
{
    
    padding-left: 50px;
    padding-right: 0px;
}


#zdjecia p
{
    
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}




/*---odmiany ---*/
#odmiany
{
padding-top: 50px;
padding-bottom: 50px;
color: #555;
}
h1
{
text-align: center;
color: #c712eb!important;
padding-bottom: 10px;
}
h1::after
{
    content: '';
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic
{
    margin-top: 25px;
} 
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
} 
.profile-pic .img-box img
{
   filter: grayscale(1);
} 
.profile-pic .img-box img:hover
{
   filter: grayscale(0);
   cursor: pointer;
} 
.profile-pic h2
{
font-size: 22px;
font-weight: bold;
margin-top: 15px;
color: #c712eb !important;
}
.profile-pic h3
{
font-size: 15px;
font-weight: bold;
margin-top: 15px;
}





/* footer */
#footer
{
padding-left: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/rys_4.jpg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding-top: 50px;
padding-bottom: 50px;
}






















